.add-btn {
    margin: 15px 0 5px 0;
}

.edit-container {
    width: 960px !important;
    height: 600px !important;
}

.apply-filter-label {
    width: 120px !important;
}

.top-margin {
    margin-top: 15px;
}

.top-margin25 {
    margin-top: 25px;
}

.left-margin {
    margin-left: 20px;
}

.apply-btn-area {
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.right-padding {
    padding-right: 30px;
    text-align: right;
}

.edit-item-container {
    width: 720px !important;
    height: 360px !important;
}

.edit-item-label {
    width: 170px !important;
}

.edit-item-textarea {
    margin-left: 200px !important;
    padding-right: 50px;
}