.info-main {
    padding: 25px 50px;
}

.detail-title {
    font-size: 15px;
    color: #333;
    line-height: 20px;
    height: 20px;
    margin: 25px 0 15px 0;
}

.top-margin {
    margin-top: 25px;
}

.top-margin15 {
    margin-top: 15px;
}

.left-margin {
    margin-left: 20px;
}

.choose-container {
    width: 1150px !important;
    height: 520px !important;
}

.choose-content {
    padding: 25px 25px 0 25px;
}

.choose-label {
    font-size: 16px;
    color: #333;
}

.choose-radio-block {
    margin-bottom: 15px;
}

.choose-warm {
    padding-left: 22px;
}

.layui-form-radio {
    margin: 0 !important;
}