.statistic-label {
    width: 100px !important;
}

.statistic-title {
    font-size: 17px;
    height: 17px;
    line-height: 17px;
    margin-bottom: 25px;
}

.statistic-main {
    padding: 25px 15px 0 15px;
}

.top-margin30 {
    margin-top: 30px;
}

.bottom-margin0 {
    margin-bottom: 0 !important;
}

.top-separate {
    border-top: 1px solid #ddd;
    margin-top: 25px;
}