.add-btn {
    margin: 15px 0 5px 0;
}

.supplier-filter-label {
    width: 120px !important;
}

.supplier-filter-inline {
    margin-top: 10px;
}

.supplier-filter-btn-area {
    margin-right: 42px;
}

.add-container {
    width: 800px !important;
    height: 690px !important;
}

.score-container {
    width: 800px !important;
    height: 720px !important;
}

.score-label {
    width: 120px !important;
}

.score-textarea {
    margin-left: 150px !important;
    margin-right: 90px !important;
}

.top-margin {
    margin-top: 40px;
}

.info-label {
    width: 130px !important;
}

.add-content {
    padding: 0 25px;
}