.add-btn {
    margin: 15px 0 5px 0;
}

.supplier-filter-label {
    width: 150px !important;
}

.supplier-filter-inline {
    margin-top: 10px;
}

.supplier-filter-btn-area {
    margin-right: 42px;
}