
.info-title {
    font-size: 20px;
    color: #333;
    line-height: 20px;
    height: 20px;
    margin: 50px 0 40px 0;
}

.info-label {
    color: #888;
}

.row-space{
    font-size: 14px;
    line-height: 16px;
    height: 16px;
}

.edit-container {
    width: 800px !important;
    height: 690px !important;
}

.edit-label {
    width: 130px !important;
}

.edit-content {
    padding: 0 25px;
}

.top-margin {
    margin-top: 40px;
}